#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0;
    left: 0;
    background-color: #f8f9fa; /* Optional: add a background color */
    text-align: center; /* Optional: center the text */
    padding: 10px; /* Optional: add some padding */
    z-index: 1000; /* Optional: ensure it's above other content */
}

.card {
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
a
